## Dtale
-----------

In [1]:
#Installing the packeges
!pip install dtale

Requirement already satisfied: dtale in c:\users\sssun\anaconda3\lib\site-packages (2.8.1)
Requirement already satisfied: dash-colorscales in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (0.0.4)
Requirement already satisfied: certifi; python_version > "3.0" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (2022.6.15)
Requirement already satisfied: networkx; python_version > "3.7" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (2.5)
Requirement already satisfied: six in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (1.15.0)
Requirement already satisfied: dash-bootstrap-components; python_version > "3.0" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (1.2.1)
Requirement already satisfied: et-xmlfile; python_version >= "3.6" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (1.0.1)
Requirement already satisfied: lz4; python_version > "3.0" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (4.0.2)
Requirement already satisfied: requests; python_version >= "3.6" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (2.24.0)
Requirement already satisfied: dash-daq in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (0.5.0)
Requirement already satisfied: flask-ngrok; python_version > "3.0" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (0.0.25)
Requirement already satisfied: openpyxl; python_version >= "3.0" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (3.0.5)
Requirement already satisfied: Flask; python_version >= "3.7" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (2.2.2)
Requirement already satisfied: scipy; python_version >= "3.8" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (1.9.1)
Requirement already satisfied: scikit-learn; python_version > "3.7" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (0.23.2)
Requirement already satisfied: missingno<=0.4.2 in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (0.4.2)
Requirement already satisfied: strsimpy in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (0.2.1)
Requirement already satisfied: dash>=2.0.0; python_version > "3.6" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (2.6.2)
Requirement already satisfied: seaborn; python_version > "3.6" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (0.12.0)
Requirement already satisfied: xlrd in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (1.2.0)
Requirement already satisfied: future>=0.14.0 in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (0.18.2)
Requirement already satisfied: matplotlib; python_version > "3.7" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (3.6.0)
Requirement already satisfied: kaleido; python_version > "3.6" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (0.2.1)
Requirement already satisfied: pandas in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (1.3.5)
Requirement already satisfied: statsmodels; python_version > "3.7" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (0.13.2)
Requirement already satisfied: plotly>=5.0.0; python_version >= "3.6" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (5.10.0)
Requirement already satisfied: squarify in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (0.4.3)
Requirement already satisfied: itsdangerous; python_version >= "3.7" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (2.1.2)
Requirement already satisfied: Flask-Compress in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (1.13)
Requirement already satisfied: cycler; python_version > "3.0" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (0.10.0)
Requirement already satisfied: xarray; python_version >= "3.0" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (2022.6.0)
Requirement already satisfied: numpy; python_version >= "3.0" in c:\users\sssun\anaconda3\lib\site-packages (from dtale) (1.22.0)
Requirement already satisfied: decorator>=4.3.0 in c:\users\sssun\anaconda3\lib\site-packages (from networkx; python_version > "3.7"->dtale) (4.4.2)
Requirement already satisfied: idna<3,>=2.5 in c:\users\sssun\anaconda3\lib\site-packages (from requests; python_version >= "3.6"->dtale) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\sssun\anaconda3\lib\site-packages (from requests; python_version >= "3.6"->dtale) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\sssun\anaconda3\lib\site-packages (from requests; python_version >= "3.6"->dtale) (1.25.11)
Requirement already satisfied: jdcal in c:\users\sssun\anaconda3\lib\site-packages (from openpyxl; python_version >= "3.0"->dtale) (1.4.1)
Requirement already satisfied: importlib-metadata>=3.6.0; python_version < "3.10" in c:\users\sssun\anaconda3\lib\site-packages (from Flask; python_version >= "3.7"->dtale) (4.11.3)
Requirement already satisfied: Jinja2>=3.0 in c:\users\sssun\anaconda3\lib\site-packages (from Flask; python_version >= "3.7"->dtale) (3.0.3)
Requirement already satisfied: click>=8.0 in c:\users\sssun\anaconda3\lib\site-packages (from Flask; python_version >= "3.7"->dtale) (8.1.3)
Requirement already satisfied: Werkzeug>=2.2.2 in c:\users\sssun\anaconda3\lib\site-packages (from Flask; python_version >= "3.7"->dtale) (2.2.2)
Requirement already satisfied: joblib>=0.11 in c:\users\sssun\anaconda3\lib\site-packages (from scikit-learn; python_version > "3.7"->dtale) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sssun\anaconda3\lib\site-packages (from scikit-learn; python_version > "3.7"->dtale) (2.1.0)
Requirement already satisfied: dash-table==5.0.0 in c:\users\sssun\anaconda3\lib\site-packages (from dash>=2.0.0; python_version > "3.6"->dtale) (5.0.0)
Requirement already satisfied: dash-html-components==2.0.0 in c:\users\sssun\anaconda3\lib\site-packages (from dash>=2.0.0; python_version > "3.6"->dtale) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in c:\users\sssun\anaconda3\lib\site-packages (from dash>=2.0.0; python_version > "3.6"->dtale) (2.0.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sssun\anaconda3\lib\site-packages (from matplotlib; python_version > "3.7"->dtale) (1.0.5)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\sssun\anaconda3\lib\site-packages (from matplotlib; python_version > "3.7"->dtale) (2.4.7)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sssun\anaconda3\lib\site-packages (from matplotlib; python_version > "3.7"->dtale) (8.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sssun\anaconda3\lib\site-packages (from matplotlib; python_version > "3.7"->dtale) (1.3.0)
Requirement already satisfied: packaging>=20.0 in c:\users\sssun\anaconda3\lib\site-packages (from matplotlib; python_version > "3.7"->dtale) (21.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sssun\anaconda3\lib\site-packages (from matplotlib; python_version > "3.7"->dtale) (4.37.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sssun\anaconda3\lib\site-packages (from matplotlib; python_version > "3.7"->dtale) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\sssun\anaconda3\lib\site-packages (from pandas->dtale) (2020.1)
Requirement already satisfied: patsy>=0.5.2 in c:\users\sssun\anaconda3\lib\site-packages (from statsmodels; python_version > "3.7"->dtale) (0.5.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\sssun\anaconda3\lib\site-packages (from plotly>=5.0.0; python_version >= "3.6"->dtale) (8.0.1)
Requirement already satisfied: brotli in c:\users\sssun\anaconda3\lib\site-packages (from Flask-Compress->dtale) (1.0.9)
Requirement already satisfied: zipp>=0.5 in c:\users\sssun\anaconda3\lib\site-packages (from importlib-metadata>=3.6.0; python_version < "3.10"->Flask; python_version >= "3.7"->dtale) (3.4.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sssun\anaconda3\lib\site-packages (from Jinja2>=3.0->Flask; python_version >= "3.7"->dtale) (2.0.1)
Requirement already satisfied: colorama; platform_system == "Windows" in c:\users\sssun\anaconda3\lib\site-packages (from click>=8.0->Flask; python_version >= "3.7"->dtale) (0.4.4)

In [2]:
#importing required packages

import dtale
import pandas as pd

In [7]:
#importing the data
df = pd.read_csv('C:/Users/sssun/Downloads/data fsds/Dataset/data1/Travel.csv')

#fetching the dataset
df

,CustomerID,ProdTaken,Age,TypeofContact,CityTier,DurationOfPitch,Occupation,Gender,NumberOfPersonVisiting,NumberOfFollowups,ProductPitched,PreferredPropertyStar,MaritalStatus,NumberOfTrips,Passport,PitchSatisfactionScore,OwnCar,NumberOfChildrenVisiting,Designation,MonthlyIncome
0,200000,1,41.0,Self Enquiry,3,6.0,Salaried,Female,3,3.0,Deluxe,3.0,Single,1.0,1,2,1,0.0,Manager,20993.0
1,200001,0,49.0,Company Invited,1,14.0,Salaried,Male,3,4.0,Deluxe,4.0,Divorced,2.0,0,3,1,2.0,Manager,20130.0
2,200002,1,37.0,Self Enquiry,1,8.0,Free Lancer,Male,3,4.0,Basic,3.0,Single,7.0,1,3,0,0.0,Executive,17090.0
3,200003,0,33.0,Company Invited,1,9.0,Salaried,Female,2,3.0,Basic,3.0,Divorced,2.0,1,5,1,1.0,Executive,17909.0
4,200004,0,NaN,Self Enquiry,1,8.0,Small Business,Male,2,3.0,Basic,4.0,Divorced,1.0,0,5,1,0.0,Executive,18468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4883,204883,1,49.0,Self Enquiry,3,9.0,Small Business,Male,3,5.0,Deluxe,4.0,Unmarried,2.0,1,1,1,1.0,Manager,26576.0
4884,204884,1,28.0,Company Invited,1,31.0,Salaried,Male,4,5.0,Basic,3.0,Single,3.0,1,3,1,2.0,Executive,21212.0
4885,204885,1,52.0,Self Enquiry,3,17.0,Salaried,Female,4,4.0,Standard,4.0,Married,7.0,0,1,1,3.0,Senior Manager,31820.0
4886,204886,1,19.0,Self Enquiry,3,16.0,Small Business,Male,3,4.0,Basic,3.0,Single,3.0,0,5,0,2.0,Executive,20289.0
4887,204887,1,36.0,Self Enquiry,1,14.0,Salaried,Male,4,4.0,Basic,4.0,Unmarried,3.0,1,3,1,2.0,Executive,24041.0

In [8]:
#For showing the result in browser

d = dtale.show(df)
d.open_browser()

In [9]:
#For showing the result in console

dtale.show(df)

Executing shutdown due to inactivity...

2022-10-11 22:45:18,446 - INFO     - Executing shutdown due to inactivity...